{
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "class-methods-use-this": "off",
    "unicorn/prefer-string-replace-all": "off"
  }
}
